.scrollBarOffsetMask {
  position: absolute;
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.scrollBarOffsetMaskY {
  right: 0;
  top: 0;
  border-bottom: none;
}
.scrollBarOffsetMaskX {
  bottom: 0;
  left: 0;
  border-right: none;
}
.scrollBarBase {
  position: absolute;
  border-width: 0;
  margin: 0;
  padding: 0;
}
.scrollBarBase::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
.scrollBarBase::-webkit-scrollbar-track {
  background: #ffffff;
  border: 1px solid #d9d9d9;
}
.scrollBarBase::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #dadce0;
  border: solid transparent;
  border-width: 2px;
  box-shadow: none;
  min-height: 28px;
  min-width: 28px;
  border-radius: 10px;
  padding: 100px 0 0;
}
.scrollBarBase::-webkit-scrollbar-thumb:hover {
  border-width: 1px;
  background-color: #c0c0c0;
}
.scrollBarBase::-webkit-scrollbar-track-piece {
  display: none;
}
.scrollBarBase::-webkit-resizer {
  display: none;
}
.scrollbarX {
  overflow-x: scroll;
  overflow-y: hidden;
}
.scrollbarY {
  overflow-x: hidden;
  overflow-y: scroll;
}
