.react-sheet-scrollbar-extendsion {
  position: absolute;
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.react-sheet-scrollbar-extendsion-y {
  right: 0;
  top: 0;
  border-bottom: none;
}
.react-sheet-scrollbar-extendsion-x {
  bottom: 0;
  left: 0;
  border-right: none;
}
.react-sheet-scrollbar {
  position: absolute;
  border-width: 0;
  margin: 0;
  padding: 0;
}
.react-sheet-scrollbar::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
.react-sheet-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  border: 1px solid #d9d9d9;
}
.react-sheet-scrollbar::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #dadce0;
  border: solid transparent;
  border-width: 2px;
  box-shadow: none;
  min-height: 28px;
  min-width: 28px;
  border-radius: 10px;
  padding: 100px 0 0;
}
.react-sheet-scrollbar::-webkit-scrollbar-thumb:hover {
  border-width: 1px;
  background-color: #c0c0c0;
}
.react-sheet-scrollbar::-webkit-scrollbar-track-piece {
  display: none;
}
.react-sheet-scrollbar::-webkit-resizer {
  display: none;
}
.react-sheet-scrollbar-x {
  overflow-x: scroll;
  overflow-y: hidden;
}
.react-sheet-scrollbar-y {
  overflow-x: hidden;
  overflow-y: scroll;
}
